.background {
    background-color: #6b352f;
}


.G {
    color: #4285F4;
    font-size: 25px;
}

.o {
    color: #DB4437;
    font-size: 25px;
}

.l {
    color: #0F9D58;
    font-size: 25px;
}

.oo {
    color: #F4B400;
    font-size: 25px;
}