.inventory {
    border: 1px solid rgb(240, 233, 233);
    background-color: rgb(233, 228, 228);
    padding: 20px;
    border-radius: 20px;

}

.inventory img {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

.inventory button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 155, 155);


}

.inventory button:hover {
    background-color: rgb(136, 129, 223)
}